# Init

In [34]:
# !python -m pip install pandas
# !python -m pip install SQLAlchemy
# !python -m pip install psycopg2
# !python -m pip install pgcli
# !python -m pip install psycopg

WARNING: Skipping psycopg_c as it is not installed.

In [1]:
from pathlib import Path

import pandas as pd

dir_root = Path("c:/_prog/DEZoomcamp/")
dir_root

WindowsPath('c:/_prog/DEZoomcamp')

In [72]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://root:root@localhost:5431/ny_taxi")
engine.connect()

# Insert

## Trips

In [2]:
file_green_trips = dir_root / "data/green_tripdata_2019-09.csv"
file_green_trips.is_file()

True

In [3]:
df_green = pd.read_csv(file_green_trips)
df_green.shape

C:\Users\aarkhi\AppData\Local\Temp\ipykernel_5048\364076281.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv(file_green_trips)

(449063, 20)

In [4]:
df_green["lpep_pickup_datetime"] = pd.to_datetime(df_green["lpep_pickup_datetime"])
df_green["lpep_dropoff_datetime"] = pd.to_datetime(df_green["lpep_dropoff_datetime"])

In [69]:
df_green.to_sql(name="ny_taxi", con=engine, if_exists="replace")

63

## Zones

In [73]:
file_zones = dir_root / "data/taxi+_zone_lookup.csv"
file_zones.is_file()

True

In [74]:
df_zones = pd.read_csv(file_zones)
df_zones.shape

(265, 4)

In [77]:
df_zones.to_sql(name="zones", con=engine, if_exists="replace")

265

## Check

In [78]:
pd.read_sql(
    "select * from pg_catalog.pg_tables where schemaname not in ('pg_catalog', 'information_schema');",
    con=engine,
)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,ny_taxi,root,None,True,False,False,False
1,public,zones,root,None,True,False,False,False

In [ ]:
pd.read_sql("select * from ny_taxi limit 100;", con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,...,0.5,0.5,2.36,0.00,None,0.3,14.16,1.0,1.0,0.0
1,1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,...,0.5,0.5,0.00,0.00,None,0.3,13.30,2.0,1.0,0.0
2,2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,...,0.5,0.5,0.00,0.00,None,0.3,13.30,2.0,1.0,0.0
3,3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,...,0.5,0.5,1.50,0.00,None,0.3,10.30,1.0,1.0,0.0
4,4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,...,0.5,0.5,3.06,0.00,None,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2.0,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1.0,95,160,1.0,2.24,...,0.5,0.5,0.00,0.00,None,0.3,10.30,2.0,1.0,0.0
96,96,2.0,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1.0,75,151,1.0,2.04,...,0.5,0.5,1.96,0.00,None,0.3,11.76,1.0,1.0,0.0
97,97,2.0,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1.0,41,182,1.0,7.77,...,0.5,0.5,5.46,0.00,None,0.3,32.76,1.0,1.0,0.0
98,98,2.0,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1.0,74,260,1.0,4.99,...,0.5,0.5,2.58,6.12,None,0.3,25.00,1.0,1.0,0.0
99,99,2.0,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1.0,255,228,1.0,7.54,...,0.5,0.5,0.00,0.00,None,0.3,23.30,2.0,1.0,0.0

In [79]:
pd.read_sql("select * from zones limit 100;", con=engine)

    index  LocationID        Borough                       Zone service_zone
0       0           1            EWR             Newark Airport          EWR
1       1           2         Queens                Jamaica Bay    Boro Zone
2       2           3          Bronx    Allerton/Pelham Gardens    Boro Zone
3       3           4      Manhattan              Alphabet City  Yellow Zone
4       4           5  Staten Island              Arden Heights    Boro Zone
..    ...         ...            ...                        ...          ...
95     95          96         Queens  Forest Park/Highland Park    Boro Zone
96     96          97       Brooklyn                Fort Greene    Boro Zone
97     97          98         Queens              Fresh Meadows    Boro Zone
98     98          99  Staten Island            Freshkills Park    Boro Zone
99     99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 5 columns]

# Questions

## Q3 Count records

In [86]:
query = """
select count(*)
from ny_taxi
where 1=1
    and cast(lpep_pickup_datetime as date) = '2019-09-18'
    and cast(lpep_dropoff_datetime as date) = '2019-09-18'
"""
pd.read_sql(query, con=engine)

   count
0  15612

## Q4 Largest trip for each day

In [92]:
query = """
select
    cast(lpep_pickup_datetime as date) as date,
    max(trip_distance) as max_distance
from ny_taxi
group by cast(lpep_pickup_datetime as date)
order by max_distance desc
limit 5
"""
pd.read_sql(query, con=engine)

         date  max_distance
0  2019-09-26        341.64
1  2019-09-21        135.53
2  2019-09-16        114.30
3  2019-09-28         89.64
4  2019-09-24         82.12

## Q5 The number of passengers

In [95]:
df_green.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [94]:
query = """
select *
from ny_taxi
where cast(lpep_pickup_datetime as date) = '2019-09-18'
"""
pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,218506,2.0,2019-09-18 00:59:40,2019-09-18 01:09:54,N,1.0,130,10,1.0,2.59,...,0.5,0.5,2.36,0.0,None,0.3,14.16,1.0,1.0,0.0
1,218513,2.0,2019-09-18 11:58:35,2019-09-18 12:10:22,N,1.0,95,102,1.0,3.47,...,0.5,0.5,0.00,0.0,None,0.3,13.80,2.0,1.0,0.0
2,218550,2.0,2019-09-18 00:03:14,2019-09-18 00:15:43,N,1.0,181,49,1.0,2.35,...,0.5,0.5,0.00,0.0,None,0.3,11.80,2.0,1.0,0.0
3,218571,2.0,2019-09-18 00:26:46,2019-09-18 00:28:59,N,1.0,134,134,1.0,0.62,...,0.5,0.5,0.00,0.0,None,0.3,5.30,2.0,1.0,0.0
4,218572,2.0,2019-09-18 00:12:22,2019-09-18 00:26:03,N,1.0,97,112,1.0,4.32,...,0.5,0.5,3.36,0.0,None,0.3,20.16,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15762,218254,2.0,2019-09-18 00:02:54,2019-09-18 00:08:54,N,1.0,74,168,1.0,1.54,...,0.5,0.5,0.00,0.0,None,0.3,8.30,2.0,1.0,0.0
15763,218133,2.0,2019-09-18 10:05:23,2019-09-18 10:12:42,N,1.0,95,196,1.0,1.23,...,0.5,0.5,0.00,0.0,None,0.3,8.30,2.0,1.0,0.0
15764,218134,2.0,2019-09-18 10:53:43,2019-09-18 11:00:01,N,1.0,95,196,1.0,1.31,...,0.5,0.5,0.00,0.0,None,0.3,7.80,2.0,1.0,0.0
15765,218362,2.0,2019-09-18 00:01:25,2019-09-18 00:05:35,N,1.0,95,95,1.0,0.79,...,0.5,0.5,1.26,0.0,None,0.3,7.56,1.0,1.0,0.0
15766,218281,2.0,2019-09-18 00:03:40,2019-09-18 00:23:29,N,1.0,168,242,1.0,8.75,...,0.5,0.5,0.00,0.0,None,0.3,27.80,2.0,1.0,0.0